* {
  box-sizing: border-box;
  font-family: "Inter";
  margin: 0;
}

.app-wrapper {
  background-color: #F5F7FB;
  /* background-color: lightskyblue; */
  height: 100vh;
}

.start-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F7FB;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
}

/* .start-page-header {
  background-color: red;
  width: 300px;
  margin: 0 auto;
} */

.start-page-header h2 {
  margin-left: -15px;
  letter-spacing: 3px;
  font-size: 260%;
}

.blue-blop, .yellow-blop {
  position: absolute;
}

.yellow-blop {
  left: 91%;
  top: 0%;
  height: 220px
}

.blue-blop {
  top: 85%;
  left: 0%;
  height: 150px;
}

.start-page-header p {
  color: #293264;
}

.start-quiz-button {
  width: 193px;
  height: 52px;
  top: 315px;
  margin-top: 20px;
  background-color: #4D5B9E;
  color: #F5F7FB;
  font-size: 110%;
  border-radius: 15px;
}

.questions-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 900px;
  margin: 0 auto;
}

.question-text {
  font-size: 145%;
  color: #293264;
  margin-bottom: 20px;
  margin-top: 20px;
}

.answers-container {
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #DBDEF0;
  padding-bottom: 2%;
}


.answers {
  margin-right: 10px;
  background-color: #F5F7FB;
  color: #293264;
  border: 1px solid #4D5B9E;
  border-radius: 12px;
  margin-right: 2%;
  font-size: 80%;
  padding: 5px;
}

.answers:hover {
  background-color: #D6DBF5;
  border: 1px solid transparent;
  transition: 0.3s;
}

.check-answers-button,
.play-again-button,
.faded-check-answers {
  background-color: #4D5B9E;
  border: none;
  color: #F5F7FB;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  border-radius: 15px;
}

.check-answers-button {
  margin-top: 3%;
}

.faded-check-answers {
  background-color: #8c8d8f;
  margin-top: 3%;
}

.play-again-button {
  margin-top: 25px;
  margin-left: 30px;
}


.score-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.correct-answers-count {
  color: #293264;
  margin-top: 30px;
}

.selected {
  background : #D6DBF5;
  border: 1px solid transparent;
}

.correct-answer {
  background-color: #94D7A2;
  border: none;
}

.wrong-answer {
  background-color: #F8BCBC;
  border: none;
  color : #8f92a2;
}

.faded-color {
  color:#8f92a2;;
  border: 1.8px solid #a5a8bb;;
}

.loading-screen {
  padding-top: 20px;
  padding-left: 20px;
  height: 100vh;
  color: #293264;
  background-color:#F5F7FB;
}

/* Viewports */
@media screen and (min-width: 375px) and (max-width: 700px) {
  .yellow-blop {
    left: 91%;
    top: 0%;
    height: 40px;
  }
  
  .blue-blop {
    top: 95%;
    left: 0%;
    height: 40px;
  }
  .questions-container {
    height: 100vh;
  }

  .question-text {
    font-size: 80%;
  }

  .answers-container {
    padding-bottom: 5%;
  }

  .answers {
    font-size: 70%;
  }
  
  .check-answers-button,
  .play-again-button,
  .faded-check-answers {
    font-size: 70%;
  }

  .play-again-button {
    margin-top: 5px;
    margin-left: 10px;
    width: 50px;
    padding: 8px 15px;
    font-size: 50%;

  }

  .score-container {
    margin-top: 10px;
  }
  
  .correct-answers-count {
    margin-top: 5px;
    font-size: 70%;
  }
}

